ia_transcribe_image.json
{
  "name": "n8n_wtschat_ia_transcribe_image",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.file.publicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ce51871f-cda3-4385-ba61-ececeb8de684",
      "name": "Baixa Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "d0254f1d-27b8-4f5a-a78e-2802b0ddeb68",
      "name": "Transcreve áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1080,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd676b02-338b-4adf-9bf6-7573fd30c1fd",
              "leftValue": "={{ $json.body.lastMessagesAggregated.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e8a3fbb-cb69-4cd4-81e8-f9c49d60ff89",
      "name": "Filtra \"Text\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        420,
        20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.lastMessagesAggregated.files",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "file"
        }
      },
      "id": "c8d427b0-a6f3-402e-a445-4258af91b50b",
      "name": "Divide arquivos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        420,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1016acfe-4836-4fd2-a1c6-83d2bdc82d1f",
      "name": "Grava variável \"Text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "73a73205-df0b-41d8-9542-f61daf2f2970",
      "name": "Grava variável da transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "var text = \"\";\nvar sessionId = $('Webhook').first().json.body.sessionId;\n\nfor (const item of $input.all()) {\n  text += item.json.text + \" \\n\";\n}\n\nreturn { \"text\": text, \"sessionId\": sessionId };"
      },
      "id": "ad9c3fb3-feb5-49e2-9fc3-65f3505be6cc",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f3c00d-c9d9-49c5-9912-7e41bb8a8e17",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "4a38e3a0-5d90-4bb8-a2b3-25519ced1ffb",
              "name": "sessionId",
              "value": "={{ $('Webhook').first().json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "898837aa-682d-49f3-a672-9213079736b2",
      "name": "Grava variavel \"text\" e sessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        60
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b8ede30-80d8-4e0e-a32d-73dc4d0f429c",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "=audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "545177de-d24d-445b-a8fa-1e8aadfb1a06",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "id": "02b1c330-e37f-41b7-89cc-f678aee7e96b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=O que tem nessa imagem? \n\n{{ $json.body.lastMessagesAggregated.text }}",
        "imageUrls": "={{ $json.file.publicUrl }}",
        "options": {}
      },
      "id": "6312c480-9cfd-431d-9e44-6f0f4990a057",
      "name": "Transcreve imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1080,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "hWRc5bcV17wYcYBr",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "=Conteudo de uma imagem fornecida: {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1b8b249f-80b7-4a28-9448-86773cb406fe",
      "name": "Variável transcrição imagem ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        340
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "d2baad8a-9ebc-401f-98f7-8a5b64b3d8f5",
      "name": "Agrupa imput",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1600,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "ed2664da-d684-42d5-bf03-5e47f007a16c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        180
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_7EirOyJrS9ePAELPndnh1Cm5",
          "mode": "list",
          "cachedResultName": "Chatbot atendimento"
        },
        "prompt": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "de967c35-fe4f-45bc-bed8-c49b52721f7b",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2200,
        60
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Nesta função você consegue listar as equipes disponíveis para transferência.",
        "url": "=https://api-staging.helena.run/core/v1/department",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "2a456f00-789b-41c3-9385-5713203c75fb",
      "name": "Busca equipes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2040,
        300
      ]
    },
    {
      "parameters": {
        "toolDescription": "Setores para transferência.\n\nAlgumas diretrizes:\n\n-Seja rápido e objetivo ao responder perguntas frequentes, buscando entender detalhadamente o problema do contato.\n-Explique de maneira simples qualquer processo técnico de baixa complexidade.\n-Demonstre paciência ao lidar com questões delicadas ou frustrações dos clientes.\n-Utilize um tom positivo e otimista, mesmo ao comunicar informações difíceis ou negativas.\n-Não solicite dados do contato como (e-mail, Id, numeros de protocolo, documentos).",
        "method": "PUT",
        "url": "=https://api-staging.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/transfer",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"DEPARTMENT\",\n  \"newDepartmentId\": \"{departmentId}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "departmentId",
              "description": "Código UUID da equipe",
              "type": "string"
            }
          ]
        }
      },
      "id": "87becfc6-8786-4111-a240-22040c8f2445",
      "name": "Transferir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2240,
        300
      ]
    },
    {
      "parameters": {
        "toolDescription": "Função para encerrar o atendimento.",
        "method": "PUT",
        "url": "=https://api-staging.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/complete",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reactivateOnNewMessage\": true\n}"
      },
      "id": "60940e7e-3633-4610-9f87-76e833636493",
      "name": "Concluir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendTextBySessionid",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        2600,
        60
      ],
      "id": "bfac3187-5bfa-4756-9567-7d6a812e2cc7",
      "name": "Envia mensagem",
      "credentials": {
        "wtsApi": {
          "id": "jGDwUw1ssFG0dmjY",
          "name": "WTS teste 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $('Webhook').item.json.body.sessionId }}"
      },
      "id": "0174c49f-04ee-406c-90ac-ff67c02b8534",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2600,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Baixa Audio": {
      "main": [
        [
          {
            "node": "Transcreve áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve áudio": {
      "main": [
        [
          {
            "node": "Grava variável da transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra \"Text\"": {
      "main": [
        [
          {
            "node": "Grava variável \"Text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide arquivos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"Text\"": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável da transcrição": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variavel \"text\" e sessionId": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcreve imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve imagem": {
      "main": [
        [
          {
            "node": "Variável transcrição imagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variável transcrição imagem ": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Agrupa imput": {
      "main": [
        [
          {
            "node": "Grava variavel \"text\" e sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra \"Text\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Divide arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca equipes": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Concluir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e287cd6b-f727-4327-9d4e-51c2d9f2b15e",
  "meta": {
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "3WePk1JJofMeToxr",
  "tags": []
}