n8n_wtschat_ia_transcribe_image
{
  "name": "TRANSCRIÇÃO DE IMAGEM",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $json.body.sessionId }}"
      },
      "id": "77062058-afc7-481b-97ac-9b07dd945c08",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2600,
        820
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.file.publicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f8ec20b7-8014-42d3-ae58-77192463ef3a",
      "name": "Baixa Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        680
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "8fc7e003-7c79-4d19-b39f-6a4f6234ab9a",
      "name": "Transcreve áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1300,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendMessageTextSession",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Code').item.json.sessionId }}"
      },
      "id": "ecede2ef-0971-4d2e-af87-99bf18706a5d",
      "name": "ENVIA MENSAGEM",
      "type": "n8n-nodes-test-wts-v2.wtsChat",
      "typeVersion": 1,
      "position": [
        2760,
        580
      ],
      "credentials": {
        "wtsApi": {
          "id": "cYxwYHY1NBY0j7zh",
          "name": "MatheusTeste-TesteSuporte"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd676b02-338b-4adf-9bf6-7573fd30c1fd",
              "leftValue": "={{ $json.body.lastMessagesAggregated.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3aa0b08c-d007-438c-b39e-0436cc229fce",
      "name": "Filtra \"Text\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        640,
        540
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.lastMessagesAggregated.files",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "file"
        }
      },
      "id": "8fd10f16-033a-406f-8a9a-e382aad8b3e8",
      "name": "Divide arquivos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        860
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "48a6e458-4477-47a0-b701-15709083188a",
      "name": "Grava variável \"Text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d9189ea2-0e21-4f48-88c0-14e10e9e9185",
      "name": "Grava variável da transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "var text = \"\";\nvar sessionId = $('Webhook').first().json.body.sessionId;\n\nfor (const item of $input.all()) {\n  text += item.json.text + \" \\n\";\n}\n\nreturn { \"text\": text, \"sessionId\": sessionId };"
      },
      "id": "53f3ecdf-eb2d-4641-8634-6ff1ae54728a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f3c00d-c9d9-49c5-9912-7e41bb8a8e17",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "4a38e3a0-5d90-4bb8-a2b3-25519ced1ffb",
              "name": "sessionId",
              "value": "={{ $('Webhook').first().json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d4d29ea-bd81-44bb-8e01-9b0d334858cf",
      "name": "Grava variavel \"text\" e sessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        580
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b8ede30-80d8-4e0e-a32d-73dc4d0f429c",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "=audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "545177de-d24d-445b-a8fa-1e8aadfb1a06",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "id": "e09a1dcf-b6f2-4d0a-8185-2cb40d6f12d6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        860
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=O que tem nessa imagem? \n\n{{ $json.body.lastMessagesAggregated.text }}",
        "imageUrls": "={{ $json.file.publicUrl }}",
        "options": {}
      },
      "id": "cb0a24d4-d7db-4e36-bea7-78df5b87fef9",
      "name": "Transcreve imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1300,
        860
      ],
      "credentials": {
        "openAiApi": {
          "id": "hWRc5bcV17wYcYBr",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "=Conteudo de uma imagem fornecida: {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0434d2c2-fe9b-40eb-9f23-67d747b1be00",
      "name": "Variável transcrição imagem ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        860
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "1aa7abd3-9bab-4467-9c77-f6c8288897d3",
      "name": "Agrupa imput",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1820,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "9d707db2-4b1d-42d0-8b37-53f6db60cd1e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        700
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_pDM27DVPTggbsTyeL9KpAaBF",
          "mode": "list",
          "cachedResultName": "bot-demo-crm"
        },
        "prompt": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "1662e40f-4fe5-479f-9a80-a2e18f93c1c2",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2420,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Audio": {
      "main": [
        [
          {
            "node": "Transcreve áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve áudio": {
      "main": [
        [
          {
            "node": "Grava variável da transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra \"Text\"": {
      "main": [
        [
          {
            "node": "Grava variável \"Text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide arquivos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"Text\"": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável da transcrição": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variavel \"text\" e sessionId": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcreve imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve imagem": {
      "main": [
        [
          {
            "node": "Variável transcrição imagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variável transcrição imagem ": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Agrupa imput": {
      "main": [
        [
          {
            "node": "Grava variavel \"text\" e sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra \"Text\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Divide arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "ENVIA MENSAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a2067d6-e8d6-4efb-978f-e027e9ae3249",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "daOhTav3Ljgj7kp5",
  "tags": []
}
