n8n_wtschat_ia_response_with_text.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $json.body.sessionId }}"
      },
      "id": "82982656-00fd-465a-a7c4-fb313e04ba74",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        980,
        680
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_pDM27DVPTggbsTyeL9KpAaBF",
          "mode": "list",
          "cachedResultName": "bot-demo-crm"
        },
        "prompt": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "6684a0a4-9e22-4ef9-9832-cb49dcfc1242",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        820,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "openapi_token"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "8b22e2d4-b426-4a24-986a-5f54b84d0df9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        460,
        460
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendMessageTextSession",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $json.sessionId }}"
      },
      "id": "61c0afbe-b23d-44d3-862e-9e7f604d1049",
      "name": "Envia mensagem",
      "type": "n8n-nodes-test-wts-v2.wtsChat",
      "typeVersion": 1,
      "position": [
        1240,
        460
      ],
      "credentials": {
        "wtsApi": {
          "id": "cYxwYHY1NBY0j7zh",
          "name": "wtschat_token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "90571ee9-625a-4825-9dc1-f5df0e571190",
      "name": "Grava variável \"text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Grava variável \"text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\"": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec2ede35-3474-4610-bbfd-759175869a4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "7UNVNW0U1vrZuaGh",
  "tags": []
}