response_with_text.json
{
  "name": "response_with_text",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $('Grava variável \"text\"').item.json.sessionId }}"
      },
      "id": "f162935f-3e9b-49ce-b724-5763a7924fe7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_Py2foyQ39ZmgnAA7PhgwDsjb",
          "mode": "list",
          "cachedResultName": "Bot-atendimento-padrão"
        },
        "prompt": "define",
        "text": "={{ JSON.stringify($json.text) }}",
        "options": {}
      },
      "id": "1c6cd6dd-99e1-4f53-9cb6-8f6203711ca6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        440,
        -20
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "ca0ae012-7d5f-4c0d-b114-4c31d12148e4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        -20
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendTextBySessionid",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Grava variável \"text\"').item.json.sessionId }}"
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        800,
        -20
      ],
      "id": "19ebc5ca-da24-4b0e-8139-a5d7a452391b",
      "name": "Envia mensagem",
      "credentials": {
        "wtsApi": {
          "id": "jGDwUw1ssFG0dmjY",
          "name": "WTS teste 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Nesta função você consegue listar as equipes disponíveis para transferência.",
        "url": "=https://api.helena.run/core/v1/department",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "581836b5-05f1-44aa-9663-808e4586b141",
      "name": "Busca equipes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {
        "toolDescription": "Setores para transferência.\n\nAlgumas diretrizes:\n\n-Seja rápido e objetivo ao responder perguntas frequentes, buscando entender detalhadamente o problema do contato.\n-Explique de maneira simples qualquer processo técnico de baixa complexidade.\n-Demonstre paciência ao lidar com questões delicadas ou frustrações dos clientes.\n-Utilize um tom positivo e otimista, mesmo ao comunicar informações difíceis ou negativas.\n-Não solicite dados do contato como (e-mail, Id, numeros de protocolo, documentos).",
        "method": "PUT",
        "url": "=https://api.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/transfer",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"DEPARTMENT\",\n  \"newDepartmentId\": \"{departmentId}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "departmentId",
              "description": "Código UUID da equipe",
              "type": "string"
            }
          ]
        }
      },
      "id": "a17437ea-d4ce-48fa-ab7d-9f494cdccd1e",
      "name": "Transferir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "toolDescription": "Função para encerrar o atendimento.",
        "method": "PUT",
        "url": "=https://api.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/complete",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reactivateOnNewMessage\": true\n}"
      },
      "id": "cb59620a-f69c-4db4-a754-71b2e52b8ab1",
      "name": "Concluir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4cca1eb6-b071-4dd9-a4a0-f04fb64f126d",
      "name": "Grava variável \"text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -20
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "18.215.79.89",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "automation.helena.run",
            "x-amzn-trace-id": "Root=1-67802b8b-1e86a2d27d37b04156126999",
            "content-length": "2423",
            "cookie": "AWSALBTG=gL/wOEALy7wfrjuqETwJsU+Ua123TMciczs19Hcpz/zg8qqKJ7WjexdXp0ME4q1XAAWfUER5gn0fcHWnC20CeWQJFbo8veFvCHXYopyHr22Oi+9xdLJLZspuM0xMh8+KQpt0g/TbX0qcjL1BG5Zb7ycbZW/KKsuXiKaoWrOKIKVa; AWSALBTGCORS=gL/wOEALy7wfrjuqETwJsU+Ua123TMciczs19Hcpz/zg8qqKJ7WjexdXp0ME4q1XAAWfUER5gn0fcHWnC20CeWQJFbo8veFvCHXYopyHr22Oi+9xdLJLZspuM0xMh8+KQpt0g/TbX0qcjL1BG5Zb7ycbZW/KKsuXiKaoWrOKIKVa",
            "content-type": "application/json; charset=utf-8"
          },
          "params": {},
          "query": {},
          "body": {
            "responseKeys": [],
            "sessionId": "543198e8-88cc-4bf2-83cf-869f431042fb",
            "session": {
              "id": "543198e8-88cc-4bf2-83cf-869f431042fb",
              "createdAt": "2025-01-09T20:01:19.946959Z",
              "departmentId": "e9388b08-46fb-4503-b1c3-a5d9f765b726",
              "userId": "00000000-0000-0000-0000-000000000000",
              "number": "2025010900007",
              "utm": null
            },
            "channel": {
              "id": "fd17bcf8-2b0b-4ac2-af1d-d64268addd87",
              "key": "559640037752",
              "platform": "WhatsApp",
              "displayName": "noventa e seis def"
            },
            "contact": {
              "id": "20246fa1-e9eb-42ef-b5cf-846a2a516e50",
              "name": "Matheus Eisten",
              "first-name": "Matheus",
              "phonenumber": "+55|34996306780",
              "display-phonenumber": "(34) 99630-6780",
              "email": "matheus322311@gmail.com.br",
              "instagram": null,
              "tags": [],
              "annotation": "",
              "metadata": {
                "ThreadId": "thread_g0DtT5JlbOb1hD32LF5q3N2f",
                "funil_qualificacao": "Existe"
              },
              "contato": "Enviar",
              "empresa": "teste",
              "sexo-23": "Masculino",
              "tamanhos": "GG",
              "data-hora": "2024-10-15T17:34:00.0000000",
              "protocolo": "123456789",
              "numero-int": "8591",
              "tamanhos-2": [
                "GG",
                "P"
              ],
              "cpf-cnpj-56": "70050509675",
              "codigo-cliente": "123456",
              "faturamento-72": "15555555555",
              "lista-vendedores": "VENDEDOR 4",
              "curso-desejado-34": ""
            },
            "questions": {},
            "menus": {},
            "templates": {},
            "metadata": {},
            "lastContactMessage": "Gostaria de mais informação sobre como funciona a transferencia de equipes na helenaCRM",
            "lastMessage": {
              "id": "c998c11b-b6c3-4afa-af15-ca91fc7e890b",
              "createdAt": "2025-01-09T20:03:14.605258Z",
              "type": "DOCUMENT",
              "text": null,
              "fileId": "49df2595-688a-42d4-a0cb-c14d329b58a0",
              "file": {
                "publicUrl": "https://cdn.wts.chat/upload/3217ecb5-8727-4aba-84f8-81d19db50b06/PDF/c16027e_20250109200316738_funcao_supervisor_da_equipe.pdf?AWSAccessKeyId=AKIAZUM25FKLLQ4UTA42&Expires=1894219398&response-content-disposition=inline&Signature=Ti41J4yvk%2F6eF6T0BYA4bsL4Cgg%3D",
                "extension": ".pdf",
                "mimeType": "application/pdf",
                "name": "Funcao_supervisor_da_equipe.pdf",
                "size": 132774
              }
            },
            "lastMessagesAggregated": {
              "text": "Gostaria de mais informação sobre como funciona a transferencia de equipes na helenaCRM",
              "files": [
                {
                  "publicUrl": "https://cdn.wts.chat/upload/3217ecb5-8727-4aba-84f8-81d19db50b06/PDF/c16027e_20250109200316738_funcao_supervisor_da_equipe.pdf?AWSAccessKeyId=AKIAZUM25FKLLQ4UTA42&Expires=1894219398&response-content-disposition=inline&Signature=Ti41J4yvk%2F6eF6T0BYA4bsL4Cgg%3D",
                  "extension": ".pdf",
                  "mimeType": "application/pdf",
                  "name": "Funcao_supervisor_da_equipe.pdf",
                  "size": 132774
                }
              ]
            }
          },
          "webhookUrl": "https://automation.helena.run/webhook/a84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Grava variável \"text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca equipes": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Concluir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\"": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d3dc95b-3a58-4e27-a251-b393a02c6705",
  "meta": {
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "6DTID5c3gefBk2ne",
  "tags": []
}
