response_with_text.json
{
  "name": "response_with_text",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $('Grava variável \"text\" e \"sessionId\"').item.json.sessionId }}"
      },
      "id": "f162935f-3e9b-49ce-b724-5763a7924fe7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_Py2foyQ39ZmgnAA7PhgwDsjb",
          "mode": "list",
          "cachedResultName": "Bot-atendimento-padrão"
        },
        "prompt": "define",
        "text": "={{ JSON.stringify($json.text) }}",
        "options": {}
      },
      "id": "1c6cd6dd-99e1-4f53-9cb6-8f6203711ca6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        440,
        -20
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "ca0ae012-7d5f-4c0d-b114-4c31d12148e4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        -20
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendTextBySessionid",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Grava variável \"text\" e \"sessionId\"').item.json.sessionId }}"
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        800,
        -20
      ],
      "id": "19ebc5ca-da24-4b0e-8139-a5d7a452391b",
      "name": "Envia mensagem",
      "credentials": {
        "wtsApi": {
          "id": "jGDwUw1ssFG0dmjY",
          "name": "WTS teste 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated }}",
              "type": "string"
            },
            {
              "id": "bc4a2cde-497e-44b6-b3d8-cfca56a73bfa",
              "name": "sessionId",
              "value": "={{ $json.body.session.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4cca1eb6-b071-4dd9-a4a0-f04fb64f126d",
      "name": "Grava variável \"text\" e \"sessionId\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -20
      ]
    },
    {
      "parameters": {
        "toolDescription": "Nesta função você consegue listar as equipes disponíveis para transferência.",
        "url": "=https://api-staging.helena.run/core/v1/department",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "581836b5-05f1-44aa-9663-808e4586b141",
      "name": "Busca equipes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {
        "toolDescription": "Setores para transferência.\n\nAlgumas diretrizes:\n\n-Seja rápido e objetivo ao responder perguntas frequentes, buscando entender detalhadamente o problema do contato.\n-Explique de maneira simples qualquer processo técnico de baixa complexidade.\n-Demonstre paciência ao lidar com questões delicadas ou frustrações dos clientes.\n-Utilize um tom positivo e otimista, mesmo ao comunicar informações difíceis ou negativas.\n-Não solicite dados do contato como (e-mail, Id, numeros de protocolo, documentos).",
        "method": "PUT",
        "url": "=https://api-staging.helena.run/chat/v1/session/{{ $('Grava variável \"text\" e \"sessionId\"').item.json.sessionId }}/transfer",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"DEPARTMENT\",\n  \"newDepartmentId\": \"{departmentId}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "departmentId",
              "description": "Código UUID da equipe",
              "type": "string"
            }
          ]
        }
      },
      "id": "a17437ea-d4ce-48fa-ab7d-9f494cdccd1e",
      "name": "Transferir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "toolDescription": "Função para encerrar o atendimento.",
        "method": "PUT",
        "url": "=https://api-staging.helena.run/chat/v1/session/{{ $('Grava variável \"text\" e \"sessionId\"').item.json.sessionId }}/complete",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reactivateOnNewMessage\": true\n}"
      },
      "id": "cb59620a-f69c-4db4-a754-71b2e52b8ab1",
      "name": "Concluir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        640,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Grava variável \"text\" e \"sessionId\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\" e \"sessionId\"": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca equipes": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Concluir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2febfc01-bb1e-442a-89a0-e9fcecae5eb3",
  "meta": {
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "6DTID5c3gefBk2ne",
  "tags": []
}