transcribe_audio_json.json
{
  "name": "transcribe_audio.json",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $('Webhook').item.json.body.sessionId }}"
      },
      "id": "ebd11678-635c-47cf-9e76-856e0552993e",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2020,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "35e89448-7c7c-46d5-ae1e-603d70ab9c26",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        160
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_Py2foyQ39ZmgnAA7PhgwDsjb",
          "mode": "list",
          "cachedResultName": "Bot-atendimento-padrão"
        },
        "prompt": "define",
        "text": "={{ JSON.stringify($json.text) }}",
        "options": {}
      },
      "id": "edc1024f-37e1-4a7e-8c1f-9ffee2978e92",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1640,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.file.publicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "2ba00981-676b-4fa6-b9af-3e3016b5d26f",
      "name": "Baixa Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd676b02-338b-4adf-9bf6-7573fd30c1fd",
              "leftValue": "={{ $json.body.lastMessagesAggregated.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "559454e5-69fe-4ada-b3be-5a9a19b5d2e4",
      "name": "Filtra \"Text\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.lastMessagesAggregated.files",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "file"
        }
      },
      "id": "2e962160-c1d1-4b2f-b241-27fb2c7c1e98",
      "name": "Divide arquivos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b8ede30-80d8-4e0e-a32d-73dc4d0f429c",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "=audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "545177de-d24d-445b-a8fa-1e8aadfb1a06",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "id": "e7198128-45f0-48d7-beca-8cc619c1f6b9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "7cea358a-bc48-42df-a59c-aa3a32a0c97d",
      "name": "Agrupa imput",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1060,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "606f23ac-50b4-46d4-8ced-d9bfedfac11a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        160
      ]
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendTextBySessionid",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        2100,
        40
      ],
      "id": "93ceaa74-2570-4b7e-a4b9-116c9d3294b8",
      "name": "Envia mensagem",
      "credentials": {
        "wtsApi": {
          "id": "jGDwUw1ssFG0dmjY",
          "name": "WTS teste 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Nesta função você consegue listar as equipes disponíveis para transferência.",
        "url": "=https://api-staging.helena.run/core/v1/department",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "96dcb3df-2167-4d8d-95f8-8e15ee26f931",
      "name": "Busca equipes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        280
      ]
    },
    {
      "parameters": {
        "toolDescription": "Setores para transferência.\n\nAlgumas diretrizes:\n\n-Seja rápido e objetivo ao responder perguntas frequentes, buscando entender detalhadamente o problema do contato.\n-Explique de maneira simples qualquer processo técnico de baixa complexidade.\n-Demonstre paciência ao lidar com questões delicadas ou frustrações dos clientes.\n-Utilize um tom positivo e otimista, mesmo ao comunicar informações difíceis ou negativas.\n-Não solicite dados do contato como (e-mail, Id, numeros de protocolo, documentos).",
        "method": "PUT",
        "url": "=https://api-staging.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/transfer",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"DEPARTMENT\",\n  \"newDepartmentId\": \"{departmentId}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "departmentId",
              "description": "Código UUID da equipe",
              "type": "string"
            }
          ]
        }
      },
      "id": "9af2e033-09da-4ed0-a95b-378473fdcb0d",
      "name": "Transferir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1640,
        280
      ]
    },
    {
      "parameters": {
        "toolDescription": "Função para encerrar o atendimento.",
        "method": "PUT",
        "url": "=https://api-staging.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/complete",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reactivateOnNewMessage\": true\n}"
      },
      "id": "f5a0d66f-9b51-4392-8744-5425e3e9846e",
      "name": "Concluir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1840,
        280
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "81474ea5-686f-4f81-bfb3-f107703f82e8",
      "name": "Transcreve áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        640,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "xtNfuMsFvuAaQiiY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "816a1579-ccea-4798-8baf-90c3911f0161",
      "name": "Grava variável \"text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "var text = \"\";\nvar sessionId = $('Webhook').first().json.body.sessionId;\n\nfor (const item of $input.all()) {\n  text += item.json.text + \" \\n\";\n}\n\nreturn { \"text\": text, \"sessionId\": sessionId };"
      },
      "id": "191c605a-6fca-4692-b8bf-2cee620d1ad3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1002842-7d53-465a-9949-eb53e30f8a23",
      "name": "Grava variável \"text\"1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra \"Text\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Divide arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Audio": {
      "main": [
        [
          {
            "node": "Transcreve áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra \"Text\"": {
      "main": [
        [
          {
            "node": "Grava variável \"text\"1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide arquivos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa Audio",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Agrupa imput": {
      "main": [
        [
          {
            "node": "Grava variável \"text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concluir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca equipes": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve áudio": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\"1": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd8a5aa1-5dd8-4018-825f-4effd5020128",
  "meta": {
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "t67sj6k9EXQcrQIA",
  "tags": []
}