wts_n8n_transcribe_image.json
{
  "name": "wts_n8n_transcribe_image",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.file.publicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4b72dd5e-308a-49b8-89b6-fb2b38f42a81",
      "name": "Baixa Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        140
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "a9df8364-7bfb-4602-ac5c-d521209850f2",
      "name": "Transcreve áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        660,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q70t9bqYniSFd1Jn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd676b02-338b-4adf-9bf6-7573fd30c1fd",
              "leftValue": "={{ $json.body.lastMessagesAggregated.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "752258f0-0784-4daf-a469-d0c88c8871c3",
      "name": "Filtra \"Text\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.lastMessagesAggregated.files",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "file"
        }
      },
      "id": "a6a9d658-ddcb-4b5c-a3ec-a8915def686e",
      "name": "Divide arquivos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "189f80de-115c-48b8-be4c-4f145a6234b4",
      "name": "Grava variável \"Text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eab44a44-4fb2-4bcb-be22-f3fda92555d4",
      "name": "Grava variável da transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "var text = \"\";\nvar sessionId = $('Webhook').first().json.body.sessionId;\n\nfor (const item of $input.all()) {\n  text += item.json.text + \" \\n\";\n}\n\nreturn { \"text\": text, \"sessionId\": sessionId };"
      },
      "id": "d64d3f04-018f-41dc-b207-6ec63f483b69",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f3c00d-c9d9-49c5-9912-7e41bb8a8e17",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "4a38e3a0-5d90-4bb8-a2b3-25519ced1ffb",
              "name": "sessionId",
              "value": "={{ $('Webhook').first().json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7cd52d77-9b00-41e3-bd26-1e98f1ce1c93",
      "name": "Grava variavel \"text\" e sessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        40
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b8ede30-80d8-4e0e-a32d-73dc4d0f429c",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "=audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "545177de-d24d-445b-a8fa-1e8aadfb1a06",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "id": "fcaed9f4-bd9c-4769-ae48-1bb72a3a9b5a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=O que tem nessa imagem? \n\n{{ $json.body.lastMessagesAggregated.text }}",
        "imageUrls": "={{ $json.file.publicUrl }}",
        "options": {}
      },
      "id": "fcd3f182-d79e-4e63-bc05-848b17914a01",
      "name": "Transcreve imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        660,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q70t9bqYniSFd1Jn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "=Conteudo de uma imagem fornecida: {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "53edc3c0-fbe5-4c6b-bf72-dd08132fbc45",
      "name": "Variável transcrição imagem ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        320
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "68ab6006-d835-4a1c-a4ac-e5a88e74ee81",
      "name": "Agrupa imput",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1180,
        20
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "d8befabe-fdf8-458b-9700-c9a0e3a90707",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        160
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_7EirOyJrS9ePAELPndnh1Cm5",
          "mode": "list",
          "cachedResultName": "Chatbot atendimento"
        },
        "prompt": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "c5c5f382-90b0-4bb7-91ae-ca719d753e45",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1780,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q70t9bqYniSFd1Jn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Nesta função você consegue listar as equipes disponíveis para transferência.",
        "url": "=https://api.helena.run/core/v1/department",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "189b55e5-db3f-42cf-bb03-656590a16476",
      "name": "Busca equipes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1620,
        280
      ]
    },
    {
      "parameters": {
        "toolDescription": "Setores para transferência.\n\nAlgumas diretrizes:\n\n-Seja rápido e objetivo ao responder perguntas frequentes, buscando entender detalhadamente o problema do contato.\n-Explique de maneira simples qualquer processo técnico de baixa complexidade.\n-Demonstre paciência ao lidar com questões delicadas ou frustrações dos clientes.\n-Utilize um tom positivo e otimista, mesmo ao comunicar informações difíceis ou negativas.\n-Não solicite dados do contato como (e-mail, Id, numeros de protocolo, documentos).",
        "method": "PUT",
        "url": "=https://api.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/transfer",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"DEPARTMENT\",\n  \"newDepartmentId\": \"{departmentId}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "departmentId",
              "description": "Código UUID da equipe",
              "type": "string"
            }
          ]
        }
      },
      "id": "dc30322b-2450-4b22-b3fb-66c828e4237d",
      "name": "Transferir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1820,
        280
      ]
    },
    {
      "parameters": {
        "toolDescription": "Função para encerrar o atendimento.",
        "method": "PUT",
        "url": "=https://api.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/complete",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reactivateOnNewMessage\": true\n}"
      },
      "id": "aa1132df-5047-4efd-b6e7-6be0e62bb5df",
      "name": "Concluir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2020,
        280
      ]
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendTextBySessionid",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        2180,
        40
      ],
      "id": "6e3bc6ba-bd9a-4eba-98fa-03605f82c5e1",
      "name": "Envia mensagem",
      "credentials": {
        "wtsApi": {
          "id": "0qBbg54xCLZ42XC3",
          "name": "Testes"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $('Webhook').item.json.body.sessionId }}"
      },
      "id": "f5f6e2c5-e465-42b0-88db-586635740404",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2180,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Baixa Audio": {
      "main": [
        [
          {
            "node": "Transcreve áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve áudio": {
      "main": [
        [
          {
            "node": "Grava variável da transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra \"Text\"": {
      "main": [
        [
          {
            "node": "Grava variável \"Text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide arquivos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"Text\"": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável da transcrição": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variavel \"text\" e sessionId": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcreve imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve imagem": {
      "main": [
        [
          {
            "node": "Variável transcrição imagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variável transcrição imagem ": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Agrupa imput": {
      "main": [
        [
          {
            "node": "Grava variavel \"text\" e sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra \"Text\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Divide arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca equipes": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Concluir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6640c50f-f50a-4bfe-8545-dfd067fad59f",
  "meta": {
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "qvFhYcfLHmQ8OOZr",
  "tags": []
}