wts_n8n_transcribe_audio.json
{
  "name": "wts_n8n_transcribe_audio",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_{{ $('Webhook').item.json.body.sessionId }}"
      },
      "id": "9af9ddba-33da-4b70-9e1e-40174ec4321f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2020,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f",
        "options": {}
      },
      "id": "fde8037d-8226-477a-ad0f-31b6707e0121",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        160
      ],
      "webhookId": "84a9efaf-a230-4e7d-bae4-5bbaf050fd3f"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_Py2foyQ39ZmgnAA7PhgwDsjb",
          "mode": "list",
          "cachedResultName": "Bot-atendimento-padrão"
        },
        "prompt": "define",
        "text": "={{ JSON.stringify($json.text) }}",
        "options": {}
      },
      "id": "89b8dc7b-487a-4130-a8eb-ecf0bc232cd4",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1640,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q70t9bqYniSFd1Jn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.file.publicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "6f8912d7-185f-4600-9bd5-fc101223d54d",
      "name": "Baixa Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd676b02-338b-4adf-9bf6-7573fd30c1fd",
              "leftValue": "={{ $json.body.lastMessagesAggregated.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f50fea7c-db4f-44de-ada8-b5eece7d372f",
      "name": "Filtra \"Text\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.lastMessagesAggregated.files",
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "file"
        }
      },
      "id": "f7944026-cfaf-4b61-8daa-3b208b4729fe",
      "name": "Divide arquivos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b8ede30-80d8-4e0e-a32d-73dc4d0f429c",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "=audio/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "545177de-d24d-445b-a8fa-1e8aadfb1a06",
                    "leftValue": "={{ $json.file.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "id": "89b93374-d535-4957-a55c-986422de7712",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "4b85c3b4-175d-4e05-87a9-5dd89ec3a612",
      "name": "Agrupa imput",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1060,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf853169-f392-48d4-b623-295883411603",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "503935a4-07dc-45f8-ab67-d18a5d1bd279",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        160
      ]
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "sendTextBySessionid",
        "textMessage": "={{ $json.output }}",
        "sessionId": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        2100,
        40
      ],
      "id": "094ff65d-4f88-48f2-b2f3-a319ea4c6314",
      "name": "Envia mensagem",
      "credentials": {
        "wtsApi": {
          "id": "0qBbg54xCLZ42XC3",
          "name": "Testes"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Nesta função você consegue listar as equipes disponíveis para transferência.",
        "url": "=https://api.helena.run/core/v1/department",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "eff9db2a-e0c0-4bfb-be22-22f71a1a5407",
      "name": "Busca equipes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        280
      ]
    },
    {
      "parameters": {
        "toolDescription": "Setores para transferência.\n\nAlgumas diretrizes:\n\n-Seja rápido e objetivo ao responder perguntas frequentes, buscando entender detalhadamente o problema do contato.\n-Explique de maneira simples qualquer processo técnico de baixa complexidade.\n-Demonstre paciência ao lidar com questões delicadas ou frustrações dos clientes.\n-Utilize um tom positivo e otimista, mesmo ao comunicar informações difíceis ou negativas.\n-Não solicite dados do contato como (e-mail, Id, numeros de protocolo, documentos).",
        "method": "PUT",
        "url": "=https://api.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/transfer",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"DEPARTMENT\",\n  \"newDepartmentId\": \"{departmentId}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "departmentId",
              "description": "Código UUID da equipe",
              "type": "string"
            }
          ]
        }
      },
      "id": "884896e5-2faa-44ea-8ee3-06fc1cfdddbf",
      "name": "Transferir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1640,
        280
      ]
    },
    {
      "parameters": {
        "toolDescription": "Função para encerrar o atendimento.",
        "method": "PUT",
        "url": "=https://api.helena.run/chat/v1/session/{{ $('Webhook').item.json.body.sessionId }}/complete",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reactivateOnNewMessage\": true\n}"
      },
      "id": "3b8ee810-f4ff-4ee1-818a-3d3718ed81b8",
      "name": "Concluir",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1840,
        280
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "63068305-c6ba-423e-8c45-8a26ced4517c",
      "name": "Transcreve áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        640,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q70t9bqYniSFd1Jn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1cfb352b-cb64-4247-b78c-2c4abe5891df",
      "name": "Grava variável \"text\"",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "var text = \"\";\nvar sessionId = $('Webhook').first().json.body.sessionId;\n\nfor (const item of $input.all()) {\n  text += item.json.text + \" \\n\";\n}\n\nreturn { \"text\": text, \"sessionId\": sessionId };"
      },
      "id": "ee46c58c-c6b4-4c90-b6e6-0c86651a9d00",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f57fd7d-92da-48c1-8a97-532b7f434888",
              "name": "text",
              "value": "={{ $json.body.lastMessagesAggregated.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c9ea4134-0b03-4d72-9fc8-cbdc3dfcffca",
      "name": "Grava variável \"text\"1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra \"Text\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Divide arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Audio": {
      "main": [
        [
          {
            "node": "Transcreve áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra \"Text\"": {
      "main": [
        [
          {
            "node": "Grava variável \"text\"1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divide arquivos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixa Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupa imput": {
      "main": [
        [
          {
            "node": "Grava variável \"text\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concluir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca equipes": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve áudio": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava variável \"text\"1": {
      "main": [
        [
          {
            "node": "Agrupa imput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e79af38c-2c2d-4c54-b9dd-391fcfb9d906",
  "meta": {
    "instanceId": "02664f1266019b28d13b187cf9e45abfd13502a00b5eebc0be24cfafb9757c49"
  },
  "id": "Ol61EdnmQPuLDyx5",
  "tags": []
}